<div>
	<!-- CAMINHO DA TELA -->
	<div class="content-header" ng-con>
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12">
					<h1 class="m-0 text-dark" ng-bind="tela"></h1>
				</div>
			</div>
		</div>
	</div>
	
	<!-- TELA DE CONSULTA -->
	<div class="wrapper" ng-show="!cadastrando">
		<div class="card">
			<div class="card-header">
				<div class="d-flex flex-row">
					<button type="button" ng-click="btnIncluir()" class="btn btn-outline-primary btn-lg d-inline-flex flex-row align-items-center sp-lt">
						<i class="nav-icon fas fa-plus"></i>
						<div class="button-text">Incluir</div>
					</button>
					<button type="button" ng-click="btnEditar(objetoSelecionado)" class="btn btn-outline-primary btn-lg d-inline-flex flex-row align-items-center sp-lt">
						<i class="nav-icon fas fa-pen"></i>
						<div class="button-text">Editar</div>
					</button>
					<button type="button" ng-click="btnExcluir()" class="btn btn-outline-danger btn-lg d-inline-flex flex-row align-items-center sp-lt">
						<i class="nav-icon fas fa-trash"></i>
						<div class="button-text">Excluir</div>
					</button>
				</div>
			</div>
			<div class="card-body">
				<div class="table-responsive table-pesquisa-fixa">
					<table class="table table-bordered table-condensed">
						<thead>
							<tr>
								<th width="80px">
									<a href="" ng-click="ordenacao('id')" title="Ordenar">
										Cód. 
										<span ng-show="campoOrdenacao == '+id'" class="glyphicon glyphicon-sort-by-attributes" />
										<span ng-show="campoOrdenacao == '-id'" class="glyphicon glyphicon-sort-by-attributes-alt" />
									</a>
									<input type="text" name="id" ng-model="idFilter" class="form-control" placeholder="Pesquisar..." ng-change="pesquisar()" mask-maiusculas>
								</th>
								<th>
									<a href="" ng-click="ordenacao('descricao')" title="Ordenar">
										Descrição 
										<span ng-show="campoOrdenacao == '+descricao'" class="glyphicon glyphicon-sort-by-attributes" />
										<span ng-show="campoOrdenacao == '-descricao'" class="glyphicon glyphicon-sort-by-attributes-alt" />
									</a>
									<input type="text" name="id" ng-model="descricaoFilter" class="form-control" placeholder="Pesquisar..." ng-change="pesquisar()" mask-maiusculas>
								</th>
								<th width="100px">
									<a href="" ng-click="ordenacao('descStatus')" title="Ordenar">
										Status
										<span ng-show="campoOrdenacao == '+status'" class="glyphicon glyphicon-sort-by-attributes" />
										<span ng-show="campoOrdenacao == '-status'" class="glyphicon glyphicon-sort-by-attributes-alt" />
									</a>
									<input type="text" name="id" ng-model="statusFilter" class="form-control" placeholder="Pesquisar..." ng-change="pesquisar()" mask-maiusculas>
								</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="g in coresFiltradas" ng-click="selecionarLinha(g)" ng-class="{linhaSelecionada : g == objetoSelecionado}">
								<td>{{g.id}}</td>
								<td>{{g.descricao}}</td>
								<td>{{g.descStatus}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<!-- TELA DE CADASTRO -->
	<div class="wrapper" ng-show="cadastrando">
		<div class="card">
			<div class="card-header">
				<h1 class="display-5">Cadastro</h1>
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col-md-2">
						<label for="name">Código</label>
						<input type="text" name="cCodigo" ng-model="cadastro.codigo" class="form-control" disabled/>
					</div>
					<div class="col-md-10">
						<label for="name">Descrição</label>
						<input type="text" id="cDescricao" ng-model="cadastro.descricao" class="form-control"  maxlength="100"/>
					</div>
					<div class="col-md-2">
						<div class="checkbox">
							<label for="status">
								<input type="checkbox" checked="cadastro.status" id="cStatus" ng-model="cadastro.status" class="checkbox" ng-disabled="!editando" ng-true-value="1" ng-false-value="0"/>
								Ativo
							</label>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="alert alert-danger alert-dismissible col-md-12 text-center" ng-show="mensagemRodape">
						{{mensagemRodape}}
					</div>
				</div>
			</div>
			<div class="d-flex flex-row justify-content-end">
				<button ng-click="btnVoltar()" class="btn btn-secondary btn-space">Voltar</button>
				<button ng-click="btnSalvar(cadastro)" class="btn btn-primary btn-space">Salvar</button>
			</div>
		</div>
	</div>
	
	<!-- MODAL -->
	<div class="modal" id="modal-container">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header" ng-class="modal.type">
					<i class="nav-icon fas fa-exclamation-triangle fa-2x sp-lg"></i>
					<h4 class="modal-title" ng-bind="modal.title"></h4>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<i class="nav-icon fas fa-times"></i>
					</button>
				</div>
				<div class="modal-body">
					<p ng-bind="modal.message"></p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-outline-secondary pull-right" data-dismiss="modal" ng-show="modal.onConfirm">Cancelar</button>
					<button type="button" class="btn btn-outline-primary pull-right" data-dismiss="modal" ng-click="modal.onConfirm()" ng-show="modal.onConfirm">Confirmar</button>
					<button type="button" class="btn btn-outline-primary pull-right" data-dismiss="modal" ng-show="!modal.onConfirm">OK</button>
				</div>
			</div>
		</div>
	</div>
	
</div>